/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
    transition: background-color 0.3s linear, color 0.3s linear;
}

/* Body themes */
.standard {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    color: #ffdfdb;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
}

.darker {
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
}

/* Header and form styles */
#header, #form, #datetime {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center;     /* Horizontally centers content */
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
    text-align: center;
}

/* Theme selector */
.flexrow-container {
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 50%;
    height: 35px;
    margin: 0 8px;
    transition: transform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

.theme-selector:hover {
    box-shadow: 0 0 8px white;
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #575656, #062e3f);
}

.light-theme {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.darker-theme {
    background-image: linear-gradient(100deg, #001214, #001f29);
}

/* Animation */
#title {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.2rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 480px;
    animation: animated-text 3s steps(16, end) infinite, animated-cursor 750ms steps(16, end) infinite;
}

/* Continuous typing animation */
@keyframes animated-text {
    0% { width: 0%; }
    100% { width: 100%; }
}

/* Cursor animation */
@keyframes animated-cursor {
    0%, 100% { border-right-color: rgba(0, 0, 0, 0.75); }
    50% { border-right-color: transparent; }
}

/* Form styles */
form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 100%;
    transition: background-color 200ms ease-in-out;
    max-width: 500px;
}

/* Input themes */
form input.standard-input {
    background-color: #181a1a;
    color: #f7e2df;
}

form input.light-input {
    background-color: #AEB1B4;
    color: #1a150e;
}

form input.darker-input {
    background-color: #01394c;
    color: white;
}

form input::placeholder {
    opacity: 0.7;
}

form input:hover {
    cursor: text;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Button styles */
button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 15px;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

/* Button themes */
button.standard-button {
    background-color: #f7e2df;
    color: #000;
}

button.light-button {
    background-color: #fff;
    color: #1a150e;
}

button.darker-button {
    background-color: #002837;
    color: white;
}

button.standard-button:hover {
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

button.light-button:hover {
    background-color: #f0f0f0;
}

button.darker-button:hover {
    background-color: #001f29;
}

/* To-do list */
#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.todo-list {
    min-width: 25%;
    list-style: none;
}

.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}

.standard-todo { background-color: #1a1a1a; }
.light-todo { background-color: #AEB1B4; }
.darker-todo { background-color: #01394c; }

.todo li {
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    overflow-wrap: anywhere;
}

.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

/* Completed task styles */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color: gray;
}

/* Animation for task removal */
.fall {
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
    transition: 0.5s;
}

/* Responsive design */
@media only screen and (max-width: 1000px) {
    .flexrow-container {
        align-self: unset;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        font-size: 2rem;
    }

    #title {
        max-width: 330px;
        animation: animated-text 3s steps(16, end) infinite, animated-cursor 750ms steps(16, end) infinite;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }

    #title {
        max-width: 255px;
        animation: animated-text 3.5s steps(16, end) infinite, animated-cursor 750ms steps(16, end) infinite;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    form input {
        border-radius: 17px;
    }

    form button {
        width: 50%;
        margin-top: 15px;
    }
}
